<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_19023253.server.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hit</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_19023253.server.Hit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stand</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_19023253.server.Stand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>State</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_19023253.server.State</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Won</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_19023253.server.Won</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stats</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_19023253.server.Stats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PossibleMoves</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_19023253.server.PossibleMoves</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hit</servlet-name>
        <url-pattern>/move/hit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stand</servlet-name>
        <url-pattern>/move/stand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>State</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Won</servlet-name>
        <url-pattern>/won</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stats</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PossibleMoves</servlet-name>
        <url-pattern>/possiblemoves</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
